<select (change)="onChange($event.target.value)">
  <option value="allKegs">All Kegs</option>
  <option value="fullPricedKegs">Full Priced Kegs</option>
  <option value="saleKegs" selected="selected">Sale Kegs</option>
</select>

<div class="stack">
  <div class="recipe" *ngFor="let currentKeg of childKegList | onSale:filterBySale">
    <h2>{{currentKeg.name}}</h2>
    <h3>{{currentKeg.brand}}</h3>
    <h3 [class]="styleColor(currentKeg)">{{currentKeg.style}}</h3>
    <button (click)="editButtonClicked(currentKeg)">Edit</button>
    <button (click)="deleteButtonClicked(currentKeg)">Delete</button>
    <hr [class]="styleColor(currentKeg)">
   <h4>About</h4>

    <mat-progress-bar mode="determinate" [value]=(kegStatus(currentKeg.pints))></mat-progress-bar>
    <br>
    <button (click)="pourPints(currentKeg)">Sell Pint</button>
 
   <ul>
     <li>{{currentKeg.pints}}</li>
     <li>ABV {{currentKeg.ABV}}%</li>
     <li>${{currentKeg.price}}</li>
   </ul>
   <input *ngIf="currentKeg.onSale === true" type="checkbox" checked (click)="toggleSale(currentKeg, false)"/>
   <input *ngIf="currentKeg.onSale === false" type="checkbox" (click)="toggleSale(currentKeg, true)"/>

  </div>
</div>