<div class="stack">
  <div class="recipe" *ngFor="let currentKeg of childKegList">
    <h2>{{currentKeg.name}}</h2>
    <h3>{{currentKeg.brand}}</h3>
    <h3 [class]="styleColor(currentKeg)">{{currentKeg.style}}</h3>
    <button (click)="editButtonClicked(currentKeg)">Edit</button>
    <button (click)="deleteButtonClicked(currentKeg)">Delete</button>
    <hr [class]="styleColor(currentKeg)">
   <h4>About</h4>

   <mat-progress-bar mode="determinate" [value]=(kegStatus(currentKeg.pints))></mat-progress-bar>
    <br>
    <button (click)="pourPints(currentKeg)">Sell Pint</button>
 
   <ul>
     <li>{{currentKeg.pints}}</li>
     <li>ABV {{currentKeg.ABV}}%</li>
     <li>${{currentKeg.price}}</li>
   </ul>
   <h4>Directions</h4>
  </div>
</div>