<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" routerLink="">Keg's R' Us</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="taps">Taps</a></li>
        </ul>
    </div>
</nav>
      
<div class="container">
<h1>{{title}}</h1>
<router-outlet></router-outlet>

</div>
<!-- 
<div class="parallax">
<app-tap-list [kegs="masterKegList" (clickSender)="editKeg($event)"></app-tap-list>
<app-edit-tap [keg]="selectedKeg" (clickedDone)="finishedEditing()"></app-edit-tap>
<app-new-tap (sendKeg)="addKeg($event)"></app-new-tap>
</div> -->